<app-pagetitle title="Comando" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="comandoForm" (ngSubmit)="onSubmit()" (change)="isDirty = true">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_modelo" name="id_modelo"
                                    formControlName="id_modelo">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let modelo of modelos" value="{{modelo.id_modelo}}">
                                        {{modelo.modelo}}</option>
                                </select>
                                <label for="floatingSelect">Modelo</label>
                            </div>
                        </div>
                       
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_tipo_comando" name="id_tipo_comando"
                                    formControlName="id_tipo_comando">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let tipo_comando of tipo_comandos"
                                        value="{{tipo_comando.id_tipo_comando}}">{{tipo_comando.tipo_comando}}</option>
                                </select>
                                <label for="floatingSelect">Tipo de comando</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <input type="text" (ngModelChange)="getSeparateComando()" class="form-control"
                                    formControlName="comando" name="comando" id="comando" placeholder="Comando" >
                                <label for="floatingNome">Comando</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_status" name="id_status"
                                    formControlName="id_status">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                                <label for="id_status">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3 mb-lg-0">
                                <textarea class="form-control" placeholder="Leave a comment here" id="observacao"
                                    name="observacao" formControlName="observacao"></textarea>
                                <label for="observacao">Observação</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div formArrayName="quantities">
                        <div style="margin-bottom: 25px;">
                            <button type="button" (click)="addQuantity()" class="btn btn-primary btn-sm" *ngIf="this.comandoForm.controls.quantities.value == ''" 
                            [disabled]="this.comandoForm.controls.comando.value == ''" >
                                Gerar Campos
                            </button>
                                    {{' '}}
                            <button type="button" (click)="addQuantity2()" class="btn btn-primary btn-sm" *ngIf="this.comandoForm.controls.quantities.value != ''" >
                                Atualizar campos
                            </button>

                        </div>

                        <div *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" formControlName="label" class="form-control" id="label{{i}}"
                                            name="label{{i}}" placeholder="Label" required>
                                        <label for="label{{i}}" class="control-label">Label</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" formControlName="campo" class="form-control" id="campo{{i}}"
                                            placeholder="Campo" value="">
                                        <label for="campo{{i}}" class="control-label">Campo{{i+1}}</label>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="tipo{{i}}" name="tipo{{i}}"
                                            formControlName="tipo">
                                            <option value="" disabled selected>Selecione</option>
                                            <option value="text">texto</option>
                                            <option value="number">numérico</option>
                                        </select>
                                        <label for="tipo{{i}}">Tipo</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="obrigatorio"
                                            id="obrigatorio{{i}}">
                                        <label class="form-check-label" for="gridCheck"></label>
                                        Obrigatório?
                                    </div>
                                </div>
                                

                                <!-- <div class="col-lg-1">
                                    <div class="form-floating mb-3">
                                            <button type="button" (click)="removeOneFieldQuantity(i, this.comandoForm.controls.quantities.value[i].id_comando_campos)" class="btn btn-danger mdi mdi-trash-can-outline"></button>
                                    </div>
                                    
                                    
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <p *ngIf="messageError != '' " class="alert alert-danger">{{messageError}}</p>
                    <div class="text-end ">
                        <div class="p-2" style="background-color: rgba(0, 0, 0, 0.03);">
                            <button class="btn btn-secondary w-md waves-effect waves-light" type="button"
                                [routerLink]="['/search-comando']">
                                Voltar</button> {{' '}}
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit"
                                (ngSubmit)="onSubmit()">
                                {{btn ? 'Atualizar' : 'Cadastrar'}}</button>
                        </div>
                    </div>
                </div>
            </form>
             
                <br />
           <!-- {{this.comandoForm.controls.quantities.value | json}} -->
        </div>
    </div> <!-- end col -->
</div>