<app-pagetitle title="Comando" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="comandoForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="comando" name="comando"
                                    id="floatingNome" placeholder="Comando">
                                <label for="floatingNome">Comando</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" name="id_fabricante"
                                    formControlName="id_tipo_comando">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let tipo_comando of tipo_comandos"
                                        value="{{tipo_comando.id_tipo_comando}}">{{tipo_comando.tipo_comando}}</option>
                                </select>
                                <label for="floatingSelect">Tipo de comando</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" name="id_fabricante"
                                    formControlName="id_modelo">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let modelo of modelos" value="{{modelo.id_modelo}}">
                                        {{modelo.modelo}}</option>
                                </select>
                                <label for="floatingSelect">Modelo</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" name="id_status"
                                    formControlName="id_status">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3 mb-lg-0">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                                    name="observacao" formControlName="observacao"></textarea>
                                <label for="floatingTextarea">Observação</label>
                            </div>
                        </div>
                    </div><br>
                    <p *ngIf="messageError != '' " class="alert alert-danger">{{messageError}}</p>
                </div>
                <!-- <div class="text-end ">
                    <div class="p-2" style="background-color: rgba(0, 0, 0, 0.03);">
                        <button class="btn btn-secondary w-md waves-effect waves-light"
                            [routerLink]="['/search-comando']">
                            Voltar</button> {{' '}}
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                            {{btn ? 'Atualizar' : 'Cadastrar'}}</button>
                    </div>
                </div> -->


            </form>
            <div class="card-body">
                <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="row g-3">

                    <div formArrayName="quantities">
                        <div>
                            <button type="button" (click)="addQuantity()" class="btn btn-primary btn-sm">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        </div>


                        <div *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-floating mb-3">
                                        <label for="" class="control-label">Label</label>
                                        <input type="text" formControlName="label" class="form-control">
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="form-floating mb-3">
                                        <label for="" class="control-label">Campo{{i+1}}</label>
                                        <input type="text" formControlName="campo" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-floating mb-3">
                                        <label for="" class="control-label">Tipo</label>
                                        <input type="text" formControlName="tipo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" formControlName="obrigatorio"
                                            id="gridCheck">
                                        <label class="form-check-label" for="gridCheck"></label>
                                        Obrigatório
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="form-floating mb-3">
                                        <button (click)="removeQuantity(i)" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="text-end ">
                <div class="p-2" style="background-color: rgba(0, 0, 0, 0.03);">
                    <button class="btn btn-secondary w-md waves-effect waves-light" [routerLink]="['/search-comando']">
                        Voltar</button> {{' '}}
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit" (ngSubmit)="onSubmit()">
                        {{btn ? 'Atualizar' : 'Cadastrar'}}</button>
                </div>
            </div>

            <br />
            {{this.productForm.value | json}}
        </div>
    </div> <!-- end col -->
</div>
