<app-pagetitle title="Envio de Comando" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="envioForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" #selectList id="id_modelo" name="id_modelo"
                                    (change)="getAllTipoComandoEnvio(this.envioForm.controls.id_modelo.value)"
                                    formControlName="id_modelo">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let modelo of modelos" value="{{modelo.modelo_id_modelo}}">
                                        {{modelo.modelo_modelo}}</option>
                                </select>
                                <label for="floatingSelect">Modelo</label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_tipo_comando" name="id_tipo_comando"
                                    (change)="getAllModeloEnvio(this.envioForm.controls.id_tipo_comando.value)"
                                    formControlName="id_tipo_comando">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let tipo_comando of tipo_comandos"
                                        value="{{tipo_comando.tipo_comando_id_tipo_comando}}">
                                        {{tipo_comando.tipo_comando_tipo_comando}}</option>
                                </select>
                                <label for="floatingSelect">Tipo de comando</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="telefone" name="telefone" mask="(00) 00000-0000"
                                    id="telefone" placeholder="Número da linha">
                                <label for="telefone">Número da linha </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="comando" name="comando" [ngModel]="comando" value="{{comando}}"
                                    id="comando" placeholder="Número da linha">
                                <label for="comando">Comando</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                   
                    <p style="margin-bottom: 15px" *ngIf="camposComando"><strong >Preencher os campos do comando</strong></p>

                    <div formArrayName="quantities">
                    <div *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
                        <div>
                            <div class="col-lg-6">
                                <div class="form-floating mb-3">
                                    <input style="margin-bottom: 15px;" type="{{camposComando[i].tipo}}" class="form-control" formControlName="camposEnvio" [(ngModel)]="camposEnvio[i]" placeholder="{{camposComando[i].campo}}" id="{{i}}">
                                    <label for="{{i}}">{{camposComando[i].label}}</label>
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>

                <div *ngIf="this.envioForm.controls.quantities.value != ''" class="row">
                    <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                        <h5 style="width: 450px !important">Comando</h5>
                        <hr>
                        <strong>{{comando}}</strong>
                    </div>
                </div>

                    
                    <!-- <strong>{{this.envioForm.controls.quantities.value | json}}</strong> -->
                    <p *ngIf="messageError != '' " class="alert alert-danger">{{messageError}}</p>
                    <div class="text-end ">
                        <div class="p-2" style="background-color: rgba(0, 0, 0, 0.03);">
                            <button class="btn btn-secondary w-md waves-effect waves-light" [routerLink]="['/']">
                                Voltar</button> {{' '}}
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit"
                                (ngSubmit)="onSubmit()">
                                {{btn ? 'Atualizar' : 'Enviar comando'}}</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
        </div>
    </div> <!-- end col -->
</div>