<app-pagetitle title="Envio de Comando" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="envioForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_modelo" name="id_modelo"
                                    formControlName="id_modelo">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let modelo of modelos" value="{{modelo.id_modelo}}">
                                        {{modelo.modelo}}</option>
                                </select>
                                <label for="floatingSelect">Modelo</label>
                            </div>
                        </div>
                       
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="id_tipo_comando" name="id_tipo_comando"
                                    formControlName="id_tipo_comando">
                                    <option value="" disabled selected>Selecione</option>
                                    <option *ngFor="let tipo_comando of tipo_comandos"
                                        value="{{tipo_comando.id_tipo_comando}}">{{tipo_comando.tipo_comando}}</option>
                                </select>
                                <label for="floatingSelect">Tipo de comando</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-lg-12">
                            <div class="form-floating mb-3">
                                <input type="text" (ngModelChange)="getSeparateComando()" class="form-control"
                                    formControlName="comando" name="comando" id="comando" placeholder="Comando" >
                                <label for="floatingNome">Comando</label>
                            </div>
                        </div>
                    </div>

                    <p *ngIf="messageError != '' " class="alert alert-danger">{{messageError}}</p>
                    <div class="text-end ">
                        <div class="p-2" style="background-color: rgba(0, 0, 0, 0.03);">
                            <button class="btn btn-secondary w-md waves-effect waves-light"
                                [routerLink]="['/']">
                                Voltar</button> {{' '}}
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit"
                                (ngSubmit)="onSubmit()">
                                {{btn ? 'Atualizar' : 'Cadastrar'}}</button>
                        </div>
                    </div>
                </div>
            </form>
             
                <br />
           <!-- {{this.comandoForm.controls.quantities.value | json}} -->
        </div>
    </div> <!-- end col -->
</div>
