<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="text-center mb-5">
                    <a routerLink="/" class="auth-logo">Logo
                        <!-- <img src="assets/images/logo-dark.png" alt="" height="28" class="auth-logo-dark">
                        <img src="assets/images/logo-light.png" alt="" height="28" class="auth-logo-light"> -->
                    </a>
                    <p class="font-size-15 text-muted mt-3"><b>Sistema Configurador</b></p>
                </div>
                <div class="card overflow-hidden">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4">

                                <div>
                                    <h5>Registre sua conta</h5>
                                    <p class="text-muted">Crie sua conta no Sistema Configurador.</p>
                                </div>

                                <div class="mt-4 pt-3">
                                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                        <div class="mb-3">
                                            <label class="fw-semibold" for="useremail">Email</label>
                                            <input type="email" formControlName="email" class="form-control"
                                                id="useremail" placeholder="Digite o email"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                                                <div *ngIf="f.email.errors.email">Digite um Email válido!
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="fw-semibold" for="login">Usuário</label>
                                            <input type="text" formControlName="login" class="form-control"
                                                id="login" placeholder="Digite seu nome"
                                                [ngClass]="{ 'is-invalid': submitted && f.login.errors }">
                                            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                                <div *ngIf="f.login.errors.required">Usuário é obrigatório</div>
                                            </div>
                                        </div>
                                        
                                        <div class="mb-3">
                                            <label class="fw-semibold" for="name">Nome Completo</label>
                                            <input type="text" formControlName="name" class="form-control"
                                                id="name" placeholder="Informe seu nome completo"
                                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                                <div *ngIf="f.name.errors.required">O nome é obrigatório</div>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="fw-semibold" for="userpassword">Senha</label>
                                            <input type="password" formControlName="password" class="form-control"
                                                id="userpassword" placeholder="Digite a senha"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                                                <div *ngIf="f.password.errors.minlength">A senha precisa ter no mínimo 6 caracteres contendo letras maiúsculas e minúsculas, número e caractere especial!</div>
                                            </div>
                                        </div>

                                        <p *ngIf="messageError != '' " class="alert alert-danger">{{messageError}}</p>

                                        <div class="mt-4 text-end">
                                            <button class="btn btn-primary w-md waves-effect waves-light"
                                                type="submit">{{btnText}} &nbsp;
                                                <div *ngIf="showSpinner" class="spinner-grow spinner-grow-sm" role="status">
                                                </div>
                                            </button>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <p class="mb-0 text-muted">Criando sua conta você concorda com os <a
                                                    href="javascript: void(0)"
                                                    class="text-primary fw-semibold text-decoration-underline">Termos de
                                                    Uso</a> do Sistema Configurador</p>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-lg-5 p-4 bg-auth h-100 d-none d-lg-block">
                                <!-- <div class="bg-overlay"></div> -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
                <div class="mt-5 text-center">
                    <p>Já possui uma conta ? <a routerLink="/account/login"
                            class="fw-semibold text-decoration-underline"> Login </a> </p>
                    <p>© {{year}} <b>Configurador</b>. 
                    </p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end account page -->