<app-pagetitle title="Usuários" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-12">
        <div class="card">          
            <div class="card-body">
                <div class="row">
                  
                    <div class="col" >
                        <h4 *ngIf="users == '' ">Sem registros para exibir.</h4>
                        <input type="text" placeholder="Pesquisa..." class="form-control" [(ngModel)]="filtro" *ngIf="users != '' ">
                    </div><!-- npm install w-ng5 --save ////instalar filtro de Pesquisa -->
                    <div class="col">
                        <button class="btn btn-primary float-end" [routerLink]="['/user/create-user']">Cadastrar Usuário</button>
                    </div>
                </div>
               
                <table class="table table-responsive table-hover" *ngIf="users != '' ">
                    <thead>{{flg}}
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: paginaAtual } | 
                        filter:[{field:'nome', value: filtro}, {field:'email', value: filtro}]; let i  = index">
                            <td scope="row">{{i + 1}}</td>
                            <td>{{user.nome}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                
                                <button class="btn btn-light-danger"
                                title="Excluir" [routerLink]="['/user/edit-user', user.id_usuario]">                                                
                                    <i class=" bx bxs-edit"></i>
                                </button>
                                {{' '}}
                                <button class="btn btn-light-danger"
                                 title="Excluir" (click)="delete(user.id_usuario)">
                                    <i class="bx bxs-trash"></i>
                                </button>
                                {{' '}}
                                <button class="btn btn-light-success"
                                title="Resetar Senha" (click)="resetPassword(user.email)">
                                <i class="fas fa-unlink"></i>
                                </button>

                            </td>
                        </tr>
                    </tbody>
                    
                </table>
                <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo" *ngIf="users != '' "></pagination-controls>
                    <!-- https://backefront.com.br/criando-paginacao-tabela-angular/ -->
            </div>
        </div>
    </div>
</div>