<h2>Lista de Usuários</h2>
<hr />

<button class="btn btn-primary" [routerLink]="['/user/create-user']"   >Cadastrar Usuário</button>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col"> - </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i  = index">
            <td scope="row">{{i + 1}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>
                <button class="btn btn-danger" [routerLink]="['/user/edit-user', user.id_usuario]" >Editar</button>
            </td>
        </tr>
    </tbody>
</table>