<app-pagetitle title="Minha Conta" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-12">
        <div class="card">
            <form [formGroup]="myAccountForm" (ngSubmit)="onSubmit()">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="nome" name="nome" id="floatingNome"
                                    placeholder="Nome Completo">
                                <label for="floatingNome">Nome</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" formControlName="email" name="email"
                                    id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" formControlName="cpf_cnpj" name="cpf_cnpj"
                                    id="cpf_cnpj" placeholder="Cpf  Cnpj">
                                <label for="cpf_cnpj">Cpf - Cnpj</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" name="id_status"
                                    formControlName="id_status">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="1">Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                                <label for="floatingSelect">Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect2" name="id_tipo_usuario"
                                    formControlName="id_tipo_usuario">
                                    <option value="" disabled selected>Selecione</option>
                                    <option value="1">Administrador</option>
                                    <option value="0">Usuário</option>
                                </select>
                                <label for="floatingSelect2">Nível de Usuário</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"  name="telefone" id="telefone" formControlName="telefone"
                                    placeholder="Telefone">
                                <label for="telefone">Telefone</label>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-floating mb-3">                               
                                <input type="date" class="form-control" name="nascimento" formControlName="nascimento"
                                    id="nascimento" placeholder="Nascimento">
                                <label for="nascimento">Nascimento</label>                              
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-floating mb-3 ">
                                <textarea class="form-control"  id="observacao"
                                    name="observacao" formControlName="observacao"></textarea>
                                <label for="observacao">Observação</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="text-end ">
                    <div class="p-2" style="background-color: rgba(0, 0, 0, 0.03);">
                        <button class="btn btn-warning w-md waves-effect waves-light" [routerLink]="['/auth/change-password']"  >
                            Atualizar Senha</button> {{' '}}      
                        <button class="btn btn-secondary w-md waves-effect waves-light" [routerLink]="['/user/search-user']"  >
                            Voltar</button> {{' '}}                         
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                            {{btn ? 'Atualizar' : 'Cadastrar'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- end col -->
</div>



