<div class="container-fluid">
   
    <h2>{{textFilter ? 'Atualizar' : 'Cadastrar'}} Usuário</h2>

    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
        <div class="form-group ">
            <div class="row">
                <div class="group col-md-6 col-sm-12 col-xs-12">
                    <input type="text" formControlName="nome" name="nome" id="nome">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Nome</label>
                </div>

                <div class="group col-md-6 col-sm-12 col-xs-12">
                    <input type="email" formControlName="email" name="email" id="email">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="group col-md-6 col-sm-12 col-xs-12">
                    <input type="text" formControlName="cpf_cnpj"  name="cpf_cnpj" id="cpf_cnpj">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Cpf - Cnpj</label>
                </div>
                <div class="group  col-md-6 col-sm-12 col-xs-12">
                    <div class="wrap">
                        <div class="select">
                            <select class="select-text" name="id_status" formControlName="id_status" id="id_status">
                                <option value="" disabled selected></option>
                                <option value="1">Ativo</option>
                                <option value="0">Inativo</option>
                            </select>
                            <span class="select-highlight"></span>
                            <span class="select-bar"></span>
                            <label class="select-label">Status </label>
                        </div>
                    </div>
                </div>
                <div class="group  col-md-6 col-sm-12 col-xs-12">
                    <div class="wrap">
                        <div class="select">
                            <select class="select-text" name="id_tipo_usuario" formControlName="id_tipo_usuario" id="id_tipo_usuario">
                                <option value="" disabled selected></option>
                                <option value="1">Administrador</option>
                                <option value="0">Usuário</option>
                            </select>
                            <span class="select-highlight"></span>
                            <span class="select-bar"></span>
                            <label class="select-label">Nível Usuário</label>
                        </div>
                    </div>
                </div>
                <div class="group col-md-12 col-sm-12 col-xs-12">
                    <input type="text" name="observacao" id="observacao" formControlName="observacao">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Observação</label>
                </div>
             
                <div class="col-12">
                    <div class="text-end p-4">
                        <button class="btn btn-primary w-md waves-effect waves-light"  type="submit">{{textFilter ? 'Atualizar' : 'Cadastrar'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>



</div>
